{% extends 'layout-page.html' %}

{% block title %}
  <title>ResumoBook | Cadrastre-se - Para receber os resumos diretamente no seu E-mail</title>

{% endblock title %}

{% block metaRedeSocial %}
{% endblock metaRedeSocial %}

{% block header %}

  <section id="header" class="post">
      <h2 class="text-fundo-padrao">CADASTRE-SE</h2>
  </section>

{% endblock header %}

{% block search %}
{% endblock search %}

{% block content %}
      <div class="caixa-cadastrese">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc3QVEvBz6iPmvBERzVFnH9DQKnX_0G2u8q1yMMugfm6LRbtA/viewform?embedded=true" width="840" height="465" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
		  
		
		</div>

{% endblock content %}

{% block buttonsPage %}
{% endblock buttonsPage %}
