{% extends 'layout-page.html' %}

{% block title %}
  <title>ResumoBook | FALE COM</title>
{% endblock title %}

{% block metaRedeSocial %}
{% endblock metaRedeSocial %}

{% block header %}

  <section id="header" class="post">
      <h2 class="text-fundo-padrao">FALE COM</h2>
  </section>

{% endblock header %}

{% block search %}
{% endblock search %}

{% block content %}
      <div class="caixa-falecom">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdwL3TbuCBzI7JnBrGe1q1A5cVn6xrJ9TG-Vf1kh5QZpRxFlA/viewform?embedded=true" width="640" height="1001" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
		  
		
		</div>

{% endblock content %}

{% block buttonsPage %}
{% endblock buttonsPage %}

