{% extends 'layout-publication.html' %}

{% block title %}
	<title>ResumoBook | Videos</title>
{% endblock title %}

{% block metaRedeSocial %}
	<meta name="description" content="Aqui eu trarei os videos que produzirei como complemento">
	<meta property="og:url" content="https://resumobook.com.br/videos">
	<meta property="og:type" content="site">
	<meta property="og:title" content="Vídeos">
	<meta property="og:image" content="https://resumobook.com.br/images/posts/videos.png" />
	<meta property="og:description" content="Aqui eu trarei os videos que produzirei como complemento">
{% endblock metaRedeSocial %}

{% block header %}

	<section id="header" class="post">
		<h2 class="text-fundo-padrao">VÍDEOS</h2>
	</section>

{% endblock header %}

{% block titleOfPage %}

	<div id="titleOfPageContent" class="caixa-post-titulo-corpo">
		<h1 class="caixa-post-titulo-1">
			Desculpe, mas os vídeos ainda estão em produção
		</h1>
	</div>

{% endblock titleOfPage %}

{% block content %}
	<h2 class="text">Caso tenha alguma sugestão de vídeos, por favor deixe seu comentário</h2>
{% endblock content %}

{% block linkAffiliate %}
{% endblock linkAffiliate %}

{% block buttonShare %}
<section class="redes-sociais-estilo">
    <span class="caixa-post-text-1">Compartilhe!</span>
    <div class="redes-sociais-estilo-1">
        <button type="button" class="botao-rede-social botao-facebook" onclick="janelaPopUp('https://www.facebook.com/sharer/sharer.php?u=https://resumobook.com.br/videos')"><img src="/images/publicacoes/facebook icone.png" alt="icone facebook" width="20" height="20" class="img-rede-social">
            <span class="rede-social-text">Compartilhe no Facebook</span></button>
    </div>
    <div class="redes-sociais-estilo-1">
        <button type="button" class="botao-rede-social botao-twitter" onclick="janelaPopUp('https://twitter.com/intent/tweet?text={{places[numberPage].title}} https://resumobook.com.br/videos')">
            <img src="/images/publicacoes/twitter icone.png" alt="icone twitter" width="20" height="20" class="img-rede-social" style="margin-left: -28px;">
            <span class="rede-social-text">Compartilhe no Twitter</span>
        </button>
    </div>
    <div class="redes-sociais-estilo-1">
        <button type="button" class="botao-rede-social botao-whatsapp" onclick="janelaPopUp('https://api.whatsapp.com/send?text=https://resumobook.com.br/videos')"><img src="/images/publicacoes/whasapp icone.png" alt="icone WhatsApp" width="20" height="20" class="img-rede-social">
            <span class="rede-social-text">Compartilhe no WhatsApp</span></button>
    </div>
    <div class="redes-sociais-estilo-1">
        <button type="button" class="botao-rede-social botao-linkedin" onclick="janelaPopUp('https://www.linkedin.com/shareArticle?mini=true&url=https://resumobook.com.br/videos')"><img src="/images/publicacoes/linkedin icone.png" alt="icone Linkedin" width="20" height="20" class="img-rede-social">
            <span class="rede-social-text">Compartilhe no Linkedin</span></button>
    </div>
</section>
<script>
    function janelaPopUp(URL) {
  window.open(URL, 'janela', 'width=795, height=590, top=100, left=699, scrollbars=no, status=no, toolbar=no, location=no, menubar=no, resizable=no, fullscreen=no')
}
</script>


{% endblock buttonShare %}

{% block lastPost %}
{% endblock lastPost %}
